

#container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    font-size: 40px
}

#article1 {
    border: 2px solid red;
    margin: 5px;
    width: 50%;
    height: 50px;

    
}

#article2 {
    border: 2px solid blue;
    margin: 5px;
    width: 50%;
    height: 50px;
}